<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notmuch -- Just an email system</title>
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <script type="module" src="/assets/js/datastar-1-0-0-beta-9-3caff1580ebe0e7c.js"></script>
  </head>
  <body>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Notmuch -- Just an email system
      </h1>
      <p class="subtitle">
        Fast, global-search and tag-based email system!
      </p>
    </div>
  </section>
<section class="section" data-signals-search-query="'{{ search-query }}'">
  <div id="message"></div>
  <div class="container">
    <input
      class="input is-primary"
      type="text"
      placeholder="Query messages, ex.: subject:some from:str to:str tag:xxx"
      data-bind-search-query
      data-on-keydown="(evt.key == ' ' || evt.key == 'Enter') && @post('/notmuch-search')"
    />
      <button class="button"
              data-on-click="@post('/notmuch-search')">
        Refresh 🔎
      </button>
      <button class="button">Save this query as ...</button>
      {% include "templates/search-results-table.html" %}
    </div>
  </section>
  </body>
</html>
