<nav class="navbar pt-0 mt-0" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" 
       data-signals-navbar-is-active="false" 
       data-target="navbarBasicExample" data-on-click="$navbarIsActive=!$navbarIsActive">
      <span aria-hidden="true"></span>   
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" data-class-is-active="$navbarIsActive">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <span class="icon-text">
          <span class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          Search messages
        </span>

      </a>

      <a class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="fa-solid fa-gears"></i>
          </span>
        Settings
      </a>

  </div>
</nav>
