<nav class="pagination is-centered" role="navigation" aria-label="pagination" data-signals-current-page="{{ paginator.current-page }}">
  {% if paginator.previous-page %}
    <a data-on-click="$loading=true; $currentPage={{ paginator.previous-page }}; @post('/notmuch-search')" href="#" class="pagination-previous">Previous</a>
  {% endif %}
  {% if paginator.next-page %}
    <a data-on-click="$loading=true; $currentPage={{ paginator.next-page }}; @post('/notmuch-search')" href="#" class="pagination-next">Next page</a>
  {% endif %}
  <ul class="pagination-list">
    {% if paginator.previous-page %}
      {% if paginator.previous-page > 2 %}
      <li><a href="#" data-on-click="$loading=true; $currentPage=1; @post('/notmuch-search')" class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% endif %}
      {% if paginator.between-current-and-start %}
        <li>
          <a data-on-click="$loading=true; $currentPage={{ paginator.between-current-and-start }}; @post('/notmuch-search')"
             class="pagination-link"
             aria-label="Goto page {{ paginator.between-current-and-start }}">{{ paginator.between-current-and-start }}</a>
        </li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% endif %}
      <li>
        <a data-on-click="$loading=true; $currentPage={{ paginator.previous-page }}; @post('/notmuch-search')"
           class="pagination-link"
           aria-label="Goto page {{ paginator.previous-page }}">{{ paginator.previous-page }}</a>
      </li>
    {% endif %}
    <li>
      <a
        class="pagination-link is-current"
        aria-label="Page {{ paginator.current-page }}"
        aria-current="page"
      >{{ paginator.current-page }}</a
                                   >
    </li>
    {% if paginator.next-page %}
      {% if paginator.between-current-and-end %}
        <li>
          <a data-on-click="$loading=true; $currentPage={{ paginator.next-page }}; @post('/notmuch-search')"
             class="pagination-link"
             aria-label="Goto page {{ paginator.next-page }}">{{ paginator.next-page }}</a>
        </li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li>
        <a data-on-click="$loading=true; $currentPage={{ paginator.between-current-and-end }}; @post('/notmuch-search')"
           class="pagination-link"
           aria-label="Goto page {{ paginator.between-current-and-end }}">{{ paginator.between-current-and-end }}</a>
      </li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% endif %}
      <li><a data-on-click="$loading=true; $currentPage={{ paginator.pages }}; @post('/notmuch-search')"
             class="pagination-link" aria-label="Goto page {{ paginator.pages }}">{{ paginator.pages }}</a></li>
    {% endif %}
  </ul>
</nav>
Total: <strong>{{ paginator.total }}</strong> threads. <span id="loading-page" data-show="$loading">Loading </span> Page <strong data-text="$currentPage"></strong> of <strong>{{ paginator.pages }}</strong> pages.
