<div class="tabs is-boxed">
  <ul>
    {% for part2 in inner2 %}
      <li data-class-is-active="$displayPart=='Message{{ message_number }}Part{{ part.id }}Part{{ part1.id }}Part{{ part2.id }}'">
        {% with content-type = part1.content-type %}
          <a title="TODO add more type information here" data-on-click="$displayPart='Message{{ message_number }}Part{{ part.id }}Part{{ part1.id }}Part{{ part2.id }}'">
            <span class="icon is-small"><i class="{% include "templates/icon-class-for-content-type.html" %}" aria-hidden="true"></i></span>
            <span>{{ part2.id }}. {{ part2.content-type }}</span>
          </a>
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
</div>
{% for part2 in inner2 %} {# TODO render level1.html? #}
  <div class="is-hidden" data-class-is-hidden="$displayPart!='Message{{ message_number }}Part{{ part.id }}Part{{ part1.id }}Part{{ part2.id }}'">
    {% with inner=part2.content %}
      {% if part2.content-type = "text/plain" %}
        {% include "templates/show_render_text_plain.html" %}
      {% elif part2.content-type = "multipart/alternative" %}
        Render HTML!
      {% endif %}
    {% endwith %}
  </div>
{% endfor %}
