{% extends "templates/base.html" %}

{% block extra-head %}
  <style>
   .loading {
     text-decoration:line-through;
     color: red;
   }
   .subjects {
     margin-bottom: 1px !important;
   }
  </style>
{% endblock %}

{% block body %}
  <h2 class="title is-2">{{ subject }}</h2>
  {% for message in messages %}
    {% with content=message|first %}
      <section class="section">
        <div class="container">
          <table class="table is-fullwidth" 
                 data-signals-hide-message-{{ forloop.counter0 }}="true" 
                 data-on-click="$hideMessage{{ forloop.counter0 }}=!$hideMessage{{ forloop.counter0 }}">
            <thead>
              <tr class="is-info">
                <th><i class="fa-regular fa-star"></i></th>
                <th>Date</th>
                <th>Correspondents</th>
                <th>Subject</th>
                <th><i class="fa-regular fa-envelope"></i></th>
                <th>Tags</th>
              </tr>
            </thead>
            <tr>
              <td>{% for tag in content.tags %}{% ifequal "important" tag %}<i class="fa-regular fa-star"></i>{% endifequal %}{% endfor %}</td>
              <td>{{ content.date_relative }}</td>
              <td>{{ content.headers.From }}</td>
              <td>{{ content.headers.Subject }}</td>
              <td>{% for tag in content.tags %}{% ifequal "unread" tag %}<i class="fa-solid fa-envelope"></i>{% endifequal %}{% endfor %}</td>
              <td>
                {% for tag in content.tags  %}
                  {{ tag }}
                {% endfor %}
              </td>
            </tr>
          </table>
        </div>
        <div class="container" data-class-is-hidden="$hideMessage{{ forloop.counter0 }}">
          {% with parts=content.body %}
            {% for part in parts %}
              <h4 class="is-3 title">{{ part.id }}<span class="tag is-light">{{ part.content-type }}</span></h4>
              <pre>{% pprint part %}</pre>
              {% if part.content-type = "multipart/related" %}
                {% with inner=part.content %}
                  {% include "templates/show_render_related.html" %}
                {% endwith %}
              {% elif part.content-type = "multipart/alternative" %}
                {% with inner=part.content %}
                  {% include "templates/show_render_alternative.html" %}
                {% endwith %}
              {% elif part.content-type = "multipart/mixed" %}
                {% with inner=part.content %}
                  {% include "templates/show_render_mixed.html" %}
                {% endwith %}
              {% endif %}
            {% endfor %}
          {% endwith %}
        </div>
      </section>
    {% endwith %}
  {% endfor %}
{% endblock %}
