<div>
  <div class="tabs is-boxed">
    <ul>
      {% for part1 in inner %}
        <li  data-signals-tab-message{{ message_number }}-part{{ part.id }}="null"
             data-class-is-active="$tabMessage{{ message_number }}Part{{ part.id }}=={{  part1.id }}"
        >
          {% with content-type = part1.content-type %}
            <a title="TODO add more type information here"
               data-on-click="$displayPart='Message{{ message_number }}Part{{ part.id }}Part{{ part1.id }}'; $tabMessage{{ message_number }}Part{{ part.id }} = {{ part1.id }}">
              <span class="icon is-small"><i class="{% include "templates/icon-class-for-content-type.html" %}" aria-hidden="true"></i></span>
              <span>{{ part1.id }}. {{ part1.content-type }}</span>
            </a>
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  </div>

  {% for part1 in inner %} {# TODO render level1.html? #}
    <div data-class-is-hidden="$tabMessage{{ message_number }}Part{{ part.id }}!={{  part1.id }}">
      {% with inner=part1.content %}
        {% if part1.content-type = "multipart/alternative" %}
          {% include "templates/show_render_alternative2.html" %}
        {% elif part1.content-type = "text/plain" %}
          {% include "templates/show_render_text_plain.html" %}
        {% endif %}
      {% endwith %}
    </div>
  {% endfor %}
</div>
