{% for part1 in inner %}
  <div data-signals-hide-message{{ message_number }}-level1-part{{ part.id }}-part{{ part1.id }}="false">
    <h4 class="is-3 title">{{ part1.id }}<span class="tag is-light">{{ part1.content-type }}</span><span class="tag is-primary">render_related.html</span>
      {% include "templates/button-hide-level1.html" %}
    </h4>
    <div data-class-is-hidden="$hideMessage{{ message_number }}Level1Part{{ part.id }}Part{{ part1.id }}">
      {% if part1.content-type = "multipart/alternative" %}
        {% with inner2=part1.content %}
          {% include "templates/show_render_alternative2.html" %}
        {% endwith %}
      {% endif %}
    </div>
  </div>
{% endfor %}
