<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notmuch -- Just an email system</title>
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <script type="module" src="/assets/js/datastar-1-0-0-beta-9-3caff1580ebe0e7c.js"></script>
    <style>
     .loading {
       text-decoration:line-through;
       color: red;
     }
    </style>
  </head>
  <body>
    {% for result in messages %}
      {% for thread in result %}
        {% for message in thread %}
          <table class="table">
            {% for header in message.headers %}
              <tr><th>{{ header|first }}</th><td>{{ header|last }}</td></tr></tr>
            {% endfor %}
          </table>
          {% for elem in message.body|first %}
            {{ elem }}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </body>
</html>
